<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <h2>About Page</h2>
    <p>Name: <%=empInfo.name%></p>
    <p>Age: <%=empInfo.age%></p>
    <p>Profession: <%=empInfo.profession%></p>
</body>
</html>