<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <%- include('common/navbar') %>
    <h1>About Page</h1>
    <p>Id: <%=userInfo.id %></p>
    <p>Name: <%=userInfo.name %></p>
    <ul>
        <% userInfo.favHobbies.forEach((item) => { %>
            <li><%= item %></li>
        <% }) %>
    </ul>
</body>
</html>